<div class="card">
  <span class="card__tag">Day <%= index + 1 %></span>
  <h3 class="card__title"><%= tour_stop.spot.name %></h3>
  <%= image_tag "singapore.jpeg", class: "card__image" %>
  <p class="card__text"><%= tour_stop.spot.description %></p>
  <%= link_to "Show more", "#" %>
</div>
