<div class="tour">
  <%= render "shared/slider" %>
  <%= render "shared/social_bar" %>
  <div class="tour__header">
    <header class="header">
      <h1 class="header__title"><%= @tour.name %></h1>
      <p>There’s something for everyone―world-class theme parks, iconic waterfront attractions, the world’s first night safari, hidden gems to explore in charming neighbourhoods, lush greenery.</p>
    </header>
  </div>
  <div class="tour__section">
    <%= render "shared/map" %>
  </div>
  <section class="tour__section">
    <div class="tour__details">
      <%= render "tour_details" %>
    </div>
  </section>
  <section class="tour__section">
    <div class="tour__sub-header">
      <div class="sub-header">
        <span class="sub-header__icon">
          <i class="icon fas fa-clipboard-list"></i>
        </span>
        <h2>Buy With Confidence</h2>
      </div>
    </div>
    <%= render "tour_garuantees" %>
  </section>
  <section class="tour__section">
    <div class="tour__sub-header">
      <div class="sub-header">
        <span class="sub-header__icon">
          <i class="icon fas fa-map-marked-alt"></i>
        </span>
        <h2>Itinerary</h2>
      </div>
    </div>
    <% @tour_stops.each_with_index do |tour_stop, index| %>
      <%= render partial: "spots/spot_card", locals: { tour_stop: tour_stop, index: index } %>
    <% end %>
  </section>
  <div class="button">Show more days</div>
</div>
